# -*- mode: indented-text; tab-width: 3; indent-tabs-mode: nil -*-

version: '3.4'

services:

  cs2pc-basic-previous-week-stat-generator:
     build: .
     image: reverse-proxy-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../PcToCsReverseProxy/pc_stats/:/var/pc_stats/:ro
        - STAT_VOLUME:/out_stat_dir/
     command:
        - /bin/bash
        - -x
        - -c
        - "/usr/local/bin/generateHrStatsForPeriod.sh -w -1 -o /out_stat_dir/RProxy_Stats/LogsToStats/pcstats-basic-$$( date +%Y)-S-$$(expr $$( date +%V) - 1).xlsx"

  cs2pc-basic-previous-month-stat-generator:
     build: .
     image: reverse-proxy-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../PcToCsReverseProxy/pc_stats/:/var/pc_stats/:ro
        - STAT_VOLUME:/out_stat_dir/
     command:
        - /bin/bash
        - -x
        - -c
        - "/usr/local/bin/generateHrStatsForPeriod.sh -m -1 -o /out_stat_dir/RProxy_Stats/LogsToStats/pcstats-basic-$$( date +%Y)-M-$$(expr $$( date +%m) - 1).xlsx"

  cs2pc-plus-previous-week-stat-generator:
     build: .
     image: reverse-proxy-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../PcToCs-PLUS-ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - STAT_VOLUME:/out_stat_dir/
     command:
        - /bin/bash
        - -x
        - -c
        - "/usr/local/bin/generateHrStatsForPeriod.sh -w -1 -o /out_stat_dir/RProxy_Stats/LogsToStats/pcstats-plus-$$( date +%Y)-S-$$(expr $$( date +%V) - 1).xlsx"

  cs2pc-plus-previous-month-stat-generator:
     build: .
     image: reverse-proxy-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../PcToCs-PLUS-ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - STAT_VOLUME:/out_stat_dir/
     command:
        - /bin/bash
        - -x
        - -c
        - "/usr/local/bin/generateHrStatsForPeriod.sh -m -1 -o /out_stat_dir/RProxy_Stats/LogsToStats/pcstats-plus-$$( date +%Y)-M-$$(expr $$( date +%m) - 1).xlsx"

  cs2pc-plus-previous-week-stat-generator:
     build: .
     image: reverse-proxy-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../PcToCs-PLUS-ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - STAT_VOLUME:/out_stat_dir/
     command:
        - /bin/bash
        - -x
        - -c
        - "/usr/local/bin/generateHrStatsForPeriod.sh -w -1 -o /out_stat_dir/RProxy_Stats/LogsToStats/pcstats-plus-$$( date +%Y)-S-$$(expr $$( date +%V) - 1).xlsx"

  csdepc-basic-stats-to-graylog:
     build:
        context: .
        dockerfile: Dockerfile.csdepc-stats-to-graylog
     image: rcsdepc-stats-to-graylog:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
        - GELF_UDP_HOST=vps-d4f07a20.vps.ovh.net
        - GELF_UDP_PORT=12201
        - SERVICE_NAME=cs2pc-basic
        - NO_TOUCH=0
     volumes:
        - ./../PcToCsReverseProxy/pc_stats/:/var/pc_stats/:ro
        - ./run_states_basic/:/var/run_states/
     command:
        - /bin/bash
        - -x
        - "/usr/local/bin/generateAndSendGELFMessages.sh"

  csdepc-plus-stats-to-graylog:
     build:
        context: .
        dockerfile: Dockerfile.csdepc-stats-to-graylog
     image: rcsdepc-stats-to-graylog:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
        - GELF_UDP_HOST=vps-d4f07a20.vps.ovh.net
        - GELF_UDP_PORT=12201
        - SERVICE_NAME=cs2pc-plus
        - NO_TOUCH=0
     volumes:
        - ./../PcToCs-PLUS-ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - ./run_states_plus/:/var/run_states/
     command:
        - /bin/bash
        - -x
        - "/usr/local/bin/generateAndSendGELFMessages.sh"

volumes:

   STAT_VOLUME:
      external: true
      name: "VOL4NEXTCLOUD_EXTERNAL_STORAGE"
