# -*- mode: indented-text; tab-width: 3; indent-tabs-mode: nil -*-

version: '3.4'

services:

  reverse-proxy-rh-stat-generator:
     build: .
     image: reverse-proxy-rh-stat-generator:latest
     environment:
        - "STAT_DATA_DIR=/var/pc_stats"
        - "TZ=Europe/Paris"
     volumes:
        - ./../pc_to_cs_apache_reverse_proxy/pc_stats/:/var/pc_stats/:ro
