# -*- mode: yaml; tab-width: 3; indent-tabs-mode: nil -*-

services:

  csdepc-basic-stats-to-graylog:
     build:
        context: .
        dockerfile: Dockerfile.csdepc-stats-to-graylog
     image: rcsdepc-stats-to-graylog:latest
     environment:
        STAT_DATA_DIR: /var/pc_stats
        TZ: Europe/Paris
        GELF_UDP_HOST: "vps-d4f07a20.vps.ovh.net"
        GELF_UDP_PORT: 12201
        SERVICE_NAME: cs2pc-basic
        NO_TOUCH: 0
        SLEEP_DELAY: 10m
        VINDECODER_EU_APIKEY: ${VINDECODER_EU_APIKEY?not set VINDECODER_EU_APIKEY}
        VINDECODER_EU_SECRET: ${VINDECODER_EU_SECRET?not set VINDECODER_EU_SECRET}
        DEBUG_BASH: 1
     volumes:
        - ./../ServiceBox4PC_BASIC_ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - ./run_states_basic/:/var/run_states/
     command:
        - /bin/bash
        - -x
        - -c
        - "while true; do /usr/local/bin/generateAndSendGELFMessages.sh; exit 1; sleep \"$${SLEEP_DELAY}\"; done"

  csdepc-plus-stats-to-graylog:
     build:
        context: .
        dockerfile: Dockerfile.csdepc-stats-to-graylog
     image: rcsdepc-stats-to-graylog:latest
     environment:
        STAT_DATA_DIR: /var/pc_stats
        TZ: Europe/Paris
        GELF_UDP_HOST: "vps-d4f07a20.vps.ovh.net"
        GELF_UDP_PORT: 12201
        SERVICE_NAME: cs2pc-plus
        NO_TOUCH: 0
        VINDECODER_EU_APIKEY: ${VINDECODER_EU_APIKEY?not set VINDECODER_EU_APIKEY}
        VINDECODER_EU_SECRET: ${VINDECODER_EU_SECRET?not set VINDECODER_EU_SECRET}
     volumes:
        - ./../PcToCs-PLUS-ReverseProxy/pc_stats/:/var/pc_stats/:ro
        - ./run_states_plus/:/var/run_states/
     command:
        - /bin/bash
        - -x
        - "/usr/local/bin/generateAndSendGELFMessages.sh"

volumes:

   STAT_VOLUME:
      external: true
      name: "VOL4NEXTCLOUD_EXTERNAL_STORAGE"
